asttokens==2.0.5
attrs==22.1.0
backcall==0.2.0
bleach==5.0.1
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.5
commonmark==0.9.1
coverage==6.4.4
cycler==0.11.0
decorator==5.1.1
docopt==0.6.2
docutils==0.19
ERAlchemy==1.2.10
executing==0.8.3
Flask==2.2.2
fonttools==4.37.1
greenlet==1.1.3
gunicorn==19.9.0
heroku==0.1.4
idna==3.3
imageio==2.22.1
importlib-metadata==4.12.0
iniconfig==1.1.1
ipykernel==5.5.5
ipython==7.22.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
jaraco.classes==3.2.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
jupyter-client==6.1.12
jupyter_core==4.11.1
keyring==23.9.1
kiwisolver==1.4.4
MarkupSafe==2.1.1
matplot==0.1.9
matplotlib==3.5.3
more-itertools==8.14.0
munkres==1.1.4
networkx==2.8.7
npm==0.1.1
numpy==1.23.3
optional-django==0.1.0
packaging==21.3
pandas==1.4.4
parso==0.8.3
pickleshare==0.7.5
Pillow==9.2.0
pip==22.2.2
pipreqs==0.4.11
pkginfo==1.8.3
pluggy==1.0.0
pprintpp==0.4.0
prompt-toolkit==3.0.20
pure-eval==0.2.2
py==1.11.0
pycountry==22.3.5
pycountry-convert==0.7.2
pydot==1.4.2
Pygments==2.11.2
pygraphviz==1.7
pyloco==0.0.139
pyparsing==3.0.9
PyQt5==5.15.4
PyQt5-sip==12.9.0
pytest==7.1.3
pytest-cov==3.0.0
pytest-mock==3.8.2
python-dateutil
pytz==2022.4
pyzmq==23.2.0
readme-renderer==37.1
repoze.lru==0.7
requests==2.28.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.5.1
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.11.2
setuptools==65.4.1
SimpleWebSocketServer==0.1.1
sip==6.5.1
six==1.16.0
SQLAlchemy==1.4.40
sqlalchemy-schemadisplay==1.3
stack-data==0.2.0
threadpoolctl==3.1.0
tifffile==2022.8.12
toml==0.10.2
tomli==2.0.1
tornado==6.2
traitlets==5.1.1
twine==4.0.1
typing==3.7.4.3
typing_extensions==4.3.0
unicodedata2==14.0.0
urllib3==1.26.12
ushlex==0.99.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.1
Werkzeug==2.2.2
wheel==0.37.1
yarg==0.1.9

